header {
  background-color: var(--color-background-secondary);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.myName__container {
  display: inline-block;
}

.myName {
  margin: 0;
  animation: title-cursor 2s infinite, title-typing 3s steps(38);
  border-right: 3px solid var(--color-white);
  white-space: nowrap;
  overflow: hidden;
}

.navbar__list {
  display: flex;
  margin: 0;
}

.navbar__link {
  color: var(--color-blue-light);
  font-weight: 700;
  text-decoration: none;
  display: block;
  padding: 1.5rem;
  border: 1px solid transparent;
  transition: border-color 0.5s;
}

.navbar__link:hover {
  border-left: 1px solid var(--color-gray);
  border-right: 1px solid var(--color-gray);
}

@keyframes title-cursor {
  from {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-white);
  }
  to {
    border-color: transparent;
  }
}

@keyframes title-typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}