.aboutMe {
  margin: 5rem 25%;
  padding-top: 7rem;
  margin-top: -7rem;
}

.aboutMe__subtitle {
  text-align: initial;
}

.aboutMe__text {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

@media only screen and (max-width: 710px) {
  .aboutMe {
    margin-left: 20px;
    margin-right: 20px;
  }
}