.education {
  margin-bottom: 5rem;
}

.education__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  margin-top: 2rem;
}

.education__element {
  min-width: 300px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.education__element--image {
  width: 70%;
  height: 70%;
}

.education__element--title {
  font-size: 1.3rem;
  text-align: center;
}

.education__element--time {
  font-style: oblique;
}