.banners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}

.banner {
  background-color: var(--color-white);
  color: var(--color-background);
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 1rem;
  width: 9rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.4rem;
  box-shadow: inset 0px 0px 5px;
  transition: all 0.2s;
}

.banner:hover {
  transform: translateY(-7px);
}

.skillsAndHobbies {
  margin-bottom: 7rem;
}

.skill-image {
  width: 40px;
}

.css-logo, .tailwind-logo {
  width: 45px;
}
